<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <h1>This is a pre-page for the developers, where any changes can be automated</h1>
        <ul>
            <li><a href="https://www.minfytech.com/">Home</a></li>
            <li><a href="https://www.minfytech.com/about/">About</a></li>
            <li><a href="https://careers.minfytech.com/jobs/Careers">Careers</a></li>
        </ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
